## while 키워드
- while 뒤의 조건이 True일 경우, while 코드 블록을 계속 수행
- 조건이 False가 되는 순간 수행을 멈추고 이후 코드를 실행

In [ ]:
a = [1, 10, 9, 24, 566, 23, 45, 67, 89]

i = 0
while i < len(a):
    print('value: ', a[i], ', index: ', i)
    i += 1
    
print('well done, loop')

In [ ]:
a = [1, 10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] > 20:
        print(a[i])
    i +=1

### break & continue
- break
  - loop를 중단
  - 보통 조건문 안에서 수행되며, 조건을 만족하는 경우 loop를 탈출하기 위해 사용
  - loop를 중단 하는 경우, while 이후의 코드를 수행
- continue
  - break처럼 반복을 중단하여 빠져나오는 것이 아니라, 다시 while 조건으로 점프함
  - 특장한 경우에는 코드를 수행하지 않고 다음으로 건너 뛰기 위해 사용

In [2]:
a = [1, 10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] > 20:
        break
    print(a[i])
    i += 1

1
10
9

In [5]:
a = 7
while a > 0:
    a -= 1
    if a == 5:
        continue
    print(a)

6
4
3
2
1
0

In [9]:
num = 1
_sum = 0  # 합을 넣을 변수 초기화

print(_sum)

while num <= 100:
    _sum += num
    num += 1

print(_sum)

0
5050

### for 반복문
- 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
- 아래와 같은 문법으로 사용
- 여기서 i는 매번 수행 될 때마다, a의 아이템으로 순차적으로 반영 됨
- 모든 아이템이 순회되면 for 블록 종료

In [11]:
a = [1, 2, 4, 3, 5]
for i in a:
    print(i, i * 2)
print('Well done, for loop')

1 2
2 4
4 8
3 6
5 10
Well done, for loop

In [14]:
a = 'Hello World'
for chr in a:
    if chr == 'l':
        print(chr)

l
l
l

In [30]:
a = [1, 10, 3, 4, 5]
b = []

for i in a:
    if i % 2 == 0:
        i = i / 2
    else:
        i = i + 1
    b.append(i)
print(b)

[2, 5.0, 4, 2.0, 6]

#### dict의 아이템 출력하기
- dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조
- keys()함수를 이용하여 key 값만 순회 가능
- values()함수를 이용하여 value 값만 순회 가능
- items() 함수를 이용하여 tuple 형태로 key, value 순회 가능

In [43]:
a = {'Korea': 'Seoul', 'Japan': 'Tokyo', 'Canada': 'Ottawa'}

for key in a:    # 기본적으로 key만 가져온다
    print(key)

Korea
Japan
Canada

In [36]:
for key in a:
    print(key, a[key])

Korea Seoul
Japan Tokyo
Canada Ottawa

In [37]:
for value in a.values():
    print(value)

Seoul
Tokyo
Ottawa

In [38]:
for key, value in a.items():
    print(key, value)

Korea Seoul
Japan Tokyo
Canada Ottawa

#### for에서 index 사용하기
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 함
- 아래와 같은 코드로 인덱스와 값 모두 사용 가능 (enumerate 함수를 이용)

In [42]:
a = [1, 2, 13, 34, 50]
for index, num in enumerate(a):
    print(index, num)

0 1
1 2
2 13
3 34
4 50

### 구구단 출력하기

In [55]:
x = [2, 3, 4, 5, 6, 7, 8, 9]
y = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### collection의 길이
- len()의 내장함수로 계산 가능
- 내장함수란 파이썬 내부에 구현되어 있어서, import 하지 않고도 사용 가능한 함수
- abs, len, type, range 등이 있음

In [46]:
a = [1, 2, 3, 4, 5, 1]
len(a)

6

### range 함수

In [47]:
list(range(10))       # 0부터 9까지

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(1,10,2))   # 1부터 9까지 2씩

[1, 3, 5, 7, 9]

In [51]:
list(range(1, 11))    # 1부터 10까지

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
list(range(5, 101, 5))# 5부터 100까지 5씩 증가

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

### if & for 연습문제

1. 구구단을 2-9단까지 출력하시오.
2. 1 - 100 까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.
3. a = [22, 1, 3, 4, 7, 98, 21 ,55, 87, 99, 19, 20, 45]에서 최대값과 최소값을 찾으시오
4. a = [22, 1, 3, 4, 7, 98, 21 ,55, 87, 99, 19, 20, 45]에서 평균을 구하시오.

#### 구구단

In [54]:
for i in range(2,10):
    print(i,'단')
    for j in range(1,10):
        print(i, 'x', j, '=', i*j)

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### 2의 배수 혹은 11의 배수 출력

In [79]:
for num in range(1,101):
    if num % 2 == 0 or num % 11 == 0:
        print(num)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

#### 최대값 최소값 출력 (정렬을 사용하지 않고)

In [80]:
a = [22, 1, 3, 4, 7, 98, 21 ,55, 87, 99, 19, 20, 45]

# 1. 처음 만나는 값을 최소 값으로 가정
# 2. 그 후 숫자를 만날떄마다 현재 최소값보다 그 숫자가 작으면 최소값을 그 숫자로 업데이트

_min = a[0]
_max = a[0]

for i in a:
    if i < _min:
        _min = i
    elif i > _max:
        _max = i

print('min = ', _min)
print('max = ', _max)

min =  1
max =  99

#### 평균 구하기

In [76]:
a = [22, 1, 3, 4, 7, 98, 21 ,55, 87, 99, 19, 20, 45]
_sum = 0

for num in a:
    _sum += num

print('sum = ', _sum)
print('mean = ', _sum/len(a))

sum =  481
mean =  37.0